<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lotto</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div style="margin: 0 auto; width: 800px;">
        <h1 style="margin: 10px auto; width: 550px;">NODE JS - MARIA DB - lotto.ejs</h1>
        <h3>Counting</h3>
        <div class="div_box1">
            <% for(var obj of results_lo_num_cnt){ %>
                <% if(obj.NUM <= 10) { %>
                    <input class='ball10 ball' value=<%= obj.NUM %> disabled>
                <% } else if(obj.NUM <= 20) { %>
                    <input class='ball20 ball' value=<%= obj.NUM %> disabled>
                <% } else if(obj.NUM <= 30) { %>
                    <input class='ball30 ball' value=<%= obj.NUM %> disabled>
                <% } else if(obj.NUM <= 40) { %>
                    <input class='ball40 ball' value=<%= obj.NUM %> disabled>
                <% } else { %>
                    <input class='ball50 ball' value=<%= obj.NUM %> disabled>
                <% } %>
                <span><%= obj.NUM_CNT %>회</span>
            <% } %>
        </div>
        <h3>RECENTLY 10 ROUND Counting</h3>
        <div class="div_box1">
            <% for(var obj of results_lo_recently10_num_cnt){ %>
                <% if(obj.NUM <= 10) { %>
                    <input class='ball10 ball' value=<%= obj.NUM %> disabled>
                <% } else if(obj.NUM <= 20) { %>
                    <input class='ball20 ball' value=<%= obj.NUM %> disabled>
                <% } else if(obj.NUM <= 30) { %>
                    <input class='ball30 ball' value=<%= obj.NUM %> disabled>
                <% } else if(obj.NUM <= 40) { %>
                    <input class='ball40 ball' value=<%= obj.NUM %> disabled>
                <% } else { %>
                    <input class='ball50 ball' value=<%= obj.NUM %> disabled>
                <% } %>
                <span><%= obj.NUM_CNT %>회</span>
            <% } %>
        </div>
        <table class="table2">
            <th>회차</th>
            <th>번호</th>
            <th>번호</th>
            <th>번호</th>
            <th>번호</th>
            <th>번호</th>
            <th>번호</th>
            <th>보너스번호</th>
            <th>1등 당첨금</th>
            <th>1등 당첨자수</th>
            <th>2등 당첨금</th>
            <th>2등 당첨자수</th>
            <th>일자</th>
         <% for(var obj of results_lo){ %>
            <% if(obj.PRIZE1 > 2500000000 && obj.PRIZE1 < 5000000000){ %>
                <tr class="prize25up">
            <% } else if(obj.PRIZE1 > 5000000000){ %>
                <tr class="prize50up">
            <% } else { %>
                <tr>
            <% } %>
            <td class="td_w35"><%= obj.ROUND %></td>
            <td class="td_w35">
                <% if(obj.NUM1 <= 10) { %>
                    <input class='ball10 ball' value=<%= obj.NUM1 %> disabled>
                <% } else if(obj.NUM1 <= 20) { %>
                    <input class='ball20 ball' value=<%= obj.NUM1 %> disabled>
                <% } else if(obj.NUM1 <= 30) { %>
                    <input class='ball30 ball' value=<%= obj.NUM1 %> disabled>
                <% } else if(obj.NUM1 <= 40) { %>
                    <input class='ball40 ball' value=<%= obj.NUM1 %> disabled>
                <% } else { %>
                    <input class='ball50 ball' value=<%= obj.NUM1 %> disabled>
                <% } %>
            </td>
            <td class="td_w35">
                <% if(obj.NUM2 <= 10) { %>
                    <input class='ball10 ball' value=<%= obj.NUM2 %> disabled>
                <% } else if(obj.NUM2 <= 20) { %>
                    <input class='ball20 ball' value=<%= obj.NUM2 %> disabled>
                <% } else if(obj.NUM2 <= 30) { %>
                    <input class='ball30 ball' value=<%= obj.NUM2 %> disabled>
                <% } else if(obj.NUM2 <= 40) { %>
                    <input class='ball40 ball' value=<%= obj.NUM2 %> disabled>
                <% } else { %>
                    <input class='ball50 ball' value=<%= obj.NUM2 %> disabled>
                <% } %>
            </td>
            <td class="td_w35">
                <% if(obj.NUM3 <= 10) { %>
                    <input class='ball10 ball' value=<%= obj.NUM3 %> disabled>
                <% } else if(obj.NUM3 <= 20) { %>
                    <input class='ball20 ball' value=<%= obj.NUM3 %> disabled>
                <% } else if(obj.NUM3 <= 30) { %>
                    <input class='ball30 ball' value=<%= obj.NUM3 %> disabled>
                <% } else if(obj.NUM3 <= 40) { %>
                    <input class='ball40 ball' value=<%= obj.NUM3 %> disabled>
                <% } else { %>
                    <input class='ball50 ball' value=<%= obj.NUM3 %> disabled>
                <% } %>
            </td>
            <td class="td_w35">
                <% if(obj.NUM4 <= 10) { %>
                    <input class='ball10 ball' value=<%= obj.NUM4 %> disabled>
                <% } else if(obj.NUM4 <= 20) { %>
                    <input class='ball20 ball' value=<%= obj.NUM4 %> disabled>
                <% } else if(obj.NUM4 <= 30) { %>
                    <input class='ball30 ball' value=<%= obj.NUM4 %> disabled>
                <% } else if(obj.NUM4 <= 40) { %>
                    <input class='ball40 ball' value=<%= obj.NUM4 %> disabled>
                <% } else { %>
                    <input class='ball50 ball' value=<%= obj.NUM4 %> disabled>
                <% } %>
            </td>
            <td class="td_w35">
                <% if(obj.NUM5 <= 10) { %>
                    <input class='ball10 ball' value=<%= obj.NUM5 %> disabled>
                <% } else if(obj.NUM5 <= 20) { %>
                    <input class='ball20 ball' value=<%= obj.NUM5 %> disabled>
                <% } else if(obj.NUM5 <= 30) { %>
                    <input class='ball30 ball' value=<%= obj.NUM5 %> disabled>
                <% } else if(obj.NUM5 <= 40) { %>
                    <input class='ball40 ball' value=<%= obj.NUM5 %> disabled>
                <% } else { %>
                    <input class='ball50 ball' value=<%= obj.NUM5 %> disabled>
                <% } %>
            </td>
            <td class="td_w35">
                <% if(obj.NUM6 <= 10) { %>
                    <input class='ball10 ball' value=<%= obj.NUM6 %> disabled>
                <% } else if(obj.NUM6 <= 20) { %>
                    <input class='ball20 ball' value=<%= obj.NUM6 %> disabled>
                <% } else if(obj.NUM6 <= 30) { %>
                    <input class='ball30 ball' value=<%= obj.NUM6 %> disabled>
                <% } else if(obj.NUM6 <= 40) { %>
                    <input class='ball40 ball' value=<%= obj.NUM6 %> disabled>
                <% } else { %>
                    <input class='ball50 ball' value=<%= obj.NUM6 %> disabled>
                <% } %>
            </td>
            <td class="td_w35">
                <% if(obj.NUMB <= 10) { %>
                    <input class='ball10 ball' value=<%= obj.NUMB %> disabled>
                <% } else if(obj.NUMB <= 20) { %>
                    <input class='ball20 ball' value=<%= obj.NUMB %> disabled>
                <% } else if(obj.NUMB <= 30) { %>
                    <input class='ball30 ball' value=<%= obj.NUMB %> disabled>
                <% } else if(obj.NUMB <= 40) { %>
                    <input class='ball40 ball' value=<%= obj.NUMB %> disabled>
                <% } else { %>
                    <input class='ball50 ball' value=<%= obj.NUMB %> disabled>
                <% } %>
            </td>
            <td class="td_w90"><%= obj.PRIZE1_ %></td>
            <td class="td_w90"><%= obj.PRIZE1CNT %></td>
            <td class="td_w90"><%= obj.PRIZE2_ %></td>
            <td class="td_w90"><%= obj.PRIZE2CNT %></td>
            <td class="td_w150"><%= obj.ROUND_DATE %></td>
          </tr>
          <% } %>
        </table>
    </div>
</body>
</html>